<?xml version="1.0"?>
<config>
    <modules>
        <Lusopay_Lusopaygateway>
            <version>2.1.0</version>
        </Lusopay_Lusopaygateway>
    </modules>
    <frontend>
		<routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Lusopay_Lusopaygateway</module>
                 <frontName>lusopaygateway</frontName>
              </args>
           </routeurfrontend>
       </routers>
		<translate>
            <modules>
                <Lusopay_Lusopaygateway>
                    <files>
                        <default>Lusopay_Lusopaygateway.csv</default>
                    </files>
                </Lusopay_Lusopaygateway>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<translate>
            <modules>
                <Lusopay_Lusopaygateway>
                    <files>
                        <default>Lusopay_Lusopaygateway.csv</default>
                    </files>
                </Lusopay_Lusopaygateway>
            </modules>
        </translate>
    </adminhtml>   
    <global>		
		<fieldsets>
			<sales_convert_quote_payment>
				<lusopay_entidade><to_order_payment>*</to_order_payment></lusopay_entidade>
                <lusopay_referencia><to_order_payment>*</to_order_payment></lusopay_referencia>
				<lusopay_montante><to_order_payment>*</to_order_payment></lusopay_montante>
			</sales_convert_quote_payment>
			
			<sales_convert_order_payment>
				<lusopay_entidade><to_quote_payment>*</to_quote_payment></lusopay_entidade>
                <lusopay_referencia><to_quote_payment>*</to_quote_payment></lusopay_referencia>
				<lusopay_montante><to_quote_payment>*</to_quote_payment></lusopay_montante>
			</sales_convert_order_payment>
		</fieldsets>
        <models>
            <lusopaygateway>
                <class>Lusopay_Lusopaygateway_Model</class>
                <resourceModel>lusopaygateway_mysql4</resourceModel>
            </lusopaygateway>
			<sales>
                <rewrite>
                    <convert_order>Lusopay_Lusopaygateway_Model_Convert_Order</convert_order>
                    <convert_quote>Lusopay_Lusopaygateway_Model_Convert_Quote</convert_quote>                    
                </rewrite>
            </sales>		
            <lusopaygateway_mysql4>
                <class>Lusopay_Lusopaygateway_Model_Mysql4</class>
                <entities>
                    <lusopaygateway>
                        <table>magnimeiosreferences</table>
                    </lusopaygateway>
                </entities>
            </lusopaygateway_mysql4>
        </models>
        <resources>
            <lusopaygateway_setup>
                <setup>
                    <module>Lusopay_Lusopaygateway</module>
					<class>Lusopay_Lusopaygateway_Model_Mysql4_Setup</class>					
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lusopaygateway_setup>
            <lusopaygateway_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lusopaygateway_write>
            <lusopaygateway_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lusopaygateway_read>
        </resources>
        <blocks>
            <lusopaygateway>
                <class>Lusopay_Lusopaygateway_Block</class>
          	</lusopaygateway>
		<checkout>
			<rewrite>
				<onepage_success>Lusopay_Lusopaygateway_Block_Checkout_Success</onepage_success>
			</rewrite>
		</checkout>
        </blocks>
        <helpers>
            <lusopaygateway>
                <class>Lusopay_Lusopaygateway_Helper</class>
            </lusopaygateway>
        </helpers>
		<sales>
      		<order>
        		<statuses>
        			<aguarda_pagamento_lusopaygateway translate="label"><label><![CDATA[MB - Aguarda Pagamento Multibanco / Payshop]]></label></aguarda_pagamento_lusopaygateway>
        		</statuses>
        		<states>
          			<new>
            			<statuses>
              				<aguarda_pagamento_lusopaygateway/>
            			</statuses>
          			</new>
        		</states>
      		</order>
    	</sales>
    </global>
	<default>		
        <payment>
            <lusopaygateway>                
                <active>0</active>               
                <model>lusopaygateway/gerarRef</model>          	
                <title>Multibanco / Payshop (by LUSOPAY)</title>
				<sort_order>1</sort_order>
				<order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>PT</specificcountry>
				<chave></chave>
				<nif></nif>
				<mensagem></mensagem>
                <payment_action>order</payment_action>
				<active_callback>0</active_callback>
            </lusopaygateway>
        </payment>
	</default> 
</config>