<?xml version="1.0"?>
<config>
    <modules>
        <Magnimeios_Magnimeiosgateway>
            <version>2.1.0</version>
        </Magnimeios_Magnimeiosgateway>
    </modules>
    <frontend>
		<routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Magnimeios_Magnimeiosgateway</module>
                 <frontName>magnimeiosgateway</frontName>
              </args>
           </routeurfrontend>
       </routers>
		<translate>
            <modules>
                <Magnimeios_Magnimeiosgateway>
                    <files>
                        <default>Magnimeios_Magnimeiosgateway.csv</default>
                    </files>
                </Magnimeios_Magnimeiosgateway>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<translate>
            <modules>
                <Magnimeios_Magnimeiosgateway>
                    <files>
                        <default>Magnimeios_Magnimeiosgateway.csv</default>
                    </files>
                </Magnimeios_Magnimeiosgateway>
            </modules>
        </translate>
    </adminhtml>   
    <global>		
		<fieldsets>
			<sales_convert_quote_payment>
				<lusopay_entidade><to_order_payment>*</to_order_payment></lusopay_entidade>
                <lusopay_referencia><to_order_payment>*</to_order_payment></lusopay_referencia>
				<lusopay_montante><to_order_payment>*</to_order_payment></lusopay_montante>
			</sales_convert_quote_payment>
			
			<sales_convert_order_payment>
				<lusopay_entidade><to_quote_payment>*</to_quote_payment></lusopay_entidade>
                <lusopay_referencia><to_quote_payment>*</to_quote_payment></lusopay_referencia>
				<lusopay_montante><to_quote_payment>*</to_quote_payment></lusopay_montante>
			</sales_convert_order_payment>
		</fieldsets>
        <models>
            <magnimeiosgateway>
                <class>Magnimeios_Magnimeiosgateway_Model</class>
                <resourceModel>magnimeiosgateway_mysql4</resourceModel>
            </magnimeiosgateway>
			<sales>
                <rewrite>
                    <convert_order>Magnimeios_Magnimeiosgateway_Model_Convert_Order</convert_order>
                    <convert_quote>Magnimeios_Magnimeiosgateway_Model_Convert_Quote</convert_quote>                    
                </rewrite>
            </sales>		
            <magnimeiosgateway_mysql4>
                <class>Magnimeios_Magnimeiosgateway_Model_Mysql4</class>
                <entities>
                    <magnimeiosgateway>
                        <table>magnimeiosreferences</table>
                    </magnimeiosgateway>
                </entities>
            </magnimeiosgateway_mysql4>
        </models>
        <resources>
            <magnimeiosgateway_setup>
                <setup>
                    <module>Magnimeios_Magnimeiosgateway</module>
					<class>Magnimeios_Magnimeiosgateway_Model_Mysql4_Setup</class>					
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magnimeiosgateway_setup>
            <magnimeiosgateway_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magnimeiosgateway_write>
            <magnimeiosgateway_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magnimeiosgateway_read>
        </resources>
        <blocks>
            <magnimeiosgateway>
                <class>Magnimeios_Magnimeiosgateway_Block</class>
          	</magnimeiosgateway>
		<checkout>
			<rewrite>
				<onepage_success>Magnimeios_Magnimeiosgateway_Block_Checkout_Success</onepage_success>
			</rewrite>
		</checkout>
        </blocks>
        <helpers>
            <magnimeiosgateway>
                <class>Magnimeios_Magnimeiosgateway_Helper</class>
            </magnimeiosgateway>
        </helpers>
		<sales>
      		<order>
        		<statuses>
        			<aguarda_pagamento_magnimeiosgateway translate="label"><label><![CDATA[MB - Aguarda Pagamento Multibanco / Payshop]]></label></aguarda_pagamento_magnimeiosgateway>
        		</statuses>
        		<states>
          			<new>
            			<statuses>
              				<aguarda_pagamento_magnimeiosgateway/>
            			</statuses>
          			</new>
        		</states>
      		</order>
    	</sales>
    </global>
	<default>		
        <payment>
            <magnimeiosgateway>                
                <active>0</active>               
                <model>magnimeiosgateway/gerarRef</model>          	
                <title>Multibanco / Payshop (by LUSOPAY)</title>
				<sort_order>1</sort_order>
				<order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>PT</specificcountry>
				<chave></chave>
				<nif></nif>
				<mensagem></mensagem>
                <payment_action>order</payment_action>
				<active_callback>0</active_callback>
            </magnimeiosgateway>
        </payment>
	</default> 
</config>